@font-face {
    font-family: "Oswald ExtraLight";
    src: url("Oswald-ExtraLight.eot"); /* IE9 */
    src: url("Oswald-ExtraLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Oswald-ExtraLight.woff") format("woff"), /* chrome, firefox */
    url("Oswald-ExtraLight.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Oswald-ExtraLight.svg#Oswald ExtraLight") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


