<form method="POST" action="https://api.staticman.net/v2/entry/ilvira/ilvira.github.io/master/reviews">
  <input name="options[redirect]" type="hidden" value="http://linguaplaysydney.com.au">
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label><input name="fields[parentName]" type="text">Родители</label>
  <label><input name="fields[childrensNames]" type="text">Дети</label>
  <label><textarea name="fields[message]"></textarea>Обзор</label>
  
    <button type="submit">Отправить</button>
</form>