<script type='application/ld+json'> 
{
  "@context": "http://www.schema.org",
  "@type": "EducationalOrganization",
  "name": "Lingua Play Sydney",
  "url": "http://linguaplaysydney.com.au",
  "logo": "http://linguaplaysydney.com.au/assets/logo_land4.svg",
  "description": "Школа русского языка",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "10 Manning St",
    "addressLocality": "North Balgowlah",
    "addressRegion": "NSW",
    "postalCode": "2093",
    "addressCountry": "Australia"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "-33.783015",
    "longitude": "151.247397"
  },
  "hasMap": "https://www.google.com/maps/place/33%C2%B046'58.9%22S+151%C2%B014'50.6%22E/@-33.783015,151.2452083,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d-33.783015!4d151.247397",
  "openingHours": "Sa 09:00-12:00",
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+61 42 875 8090"
  }
}
 </script>