<script type="application/ld+json">
 {
  "@context": "http://schema.org",
  "type": "ProfessionalService",

  "description": "Филиал школы русского языка LinguaPlay в Сиднее",
  "name": "LinguaPlay Sydney",
  "serviceType": "Psychiatric Emergency Services",
  "telephone": "042878090",
  "url": "http://linguaplaysydney.com.au/",
  "serviceLocation": {
      "@type": "Hospital",
      "name": "VA Boston -- West Roxbury",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "1400 VFW Parkway",
        "addressLocality": "West Roxbury",
        "addressRegion": "MA",
        "postalCode": "02132"
      }
  },
  "contactPoint": {
    "type": "ContactPoint",
    "availableLanguage": 
    "contactType": "sales"",
    "email": "ilvira.groom@googlemail.com",
    "telephone": "042878090",
    "hoursAvailable": {
      "type": "OpeningHoursSpecification",
      "closes": "13:00",
      "dayOfWeek": [
        "Saturday"
      ],
      "opens": "09:00"
    }
  }
}
    </script>


    
