<script type='application/ld+json'> 
{
  "@context": "http://www.schema.org",
  "@type": "EducationalOrganization",
  "name": "Lingua Play Sydney",
  "url": "http://linguaplaysydney.com.au",
  "logo": "http://linguaplaysydney.com.au/assets/logo_land4.svg",
  "description": "Школа русского языка",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "10 Manning St",
    "addressLocality": "North Balgowlah",
    "addressRegion": "NSW",
    "postalCode": "2093",
    "addressCountry": "Australia"
  },
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+61 42 875 8090",
    "contactType": "Director"
  }
}
 </script>