<div class="upperTop">
  <div class="logo  float">
    <a href="\" alt="home">
      <img src="/assets/logo_land4.svg" alt="logo">
    </a>
  </div>
  <div class="callmenow span_2 float">
    <ul>
      <li><a href="tel:+61428758090"><span class="icon phone"></span> 04 2875 8090</a></li>
      <li><a href="mailto:ilvira.groom@googlemail.com"><span class="icon mail"></span> ilvira.groom@googlemail.com</a></li>
      <li><a href="skype:ilvira.groom?call"><span class="icon skype"></span> ilvira.groom</a></li>
    </ul>
  </div>

</div>

<div class="lowerTop">
{{ site.description }}
</div>