.logo {
  width: 49.2%;
  img {
    // max-height: 135px;
    // width: auto;
    // display: inline;
    height: 128px;
    display: block;
    margin: 0;
    border-style: none;
    border-width: 0;
  }
}

@media (max-width: $narrow-width) {
  .logo {
    text-align: center;
    width: 100%;
    img {
      max-height: 96px;
      display: inline;
    }
  }
}