{% include head.html %}

<body>
  <div class="wrapper">
    {% include upperTop.html %} {% include nav.html %}
    {% capture content %}{% include content.html %}{% endcapture %}

{% assign columns = content | normalize_whitespace | split: "<hr />" %}
{% for column in columns %}
{% capture col_counter %}{% cycle 'left', 'right' %}{% endcapture %}
{% if col_counter contains 'left' %}

{% if blog.next_article %}
{{ 'next post >>' | link_to: blog.next_article }}
{% endif %}

<div class="content section group">
  <div class="content--left col">
    {{ column }}
  </div>
{% else %}
  <div class="content--right col">
    {{ column }}
  </div> <!-- right column -->
</div> <!-- content block -->
{% endif %}
{% endfor %}

  </div>


  {% include google_calendar.html text='Проверка' details='Длинное описание события' start='5/11/2017T17:32' end='7/11/2017' %}

  {% include googleAnalytics.html %}
</body>

</html>